<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS -->
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Cadastro Do Profissional</title>
</head>

<body>
    <div class="container-login">
        <div class="img-box fade-in delay-1">
            <img src="static/images/FisioConecta1.png" alt="">
            <h1>Facilitando o acesso à fisioterapia infantil especializada.</h1>
        </div>
        <div class="content-box fade-in delay-2">
            <div class="form-box fade-in delay-2">
                <img class="image-logo2 fade-in delay-2" src="static/images/FisioConecta1.png" alt="">
                <h2>CADASTRO</h2>
                <form action="/auth/criar_conta_fisio_form" method="post" enctype="multipart/form-data" class="formLogin">

                    <div class="input-box fade-in delay-7">
                        <span>Email</span>
                        <input type="email" name="email" placeholder="@mail.com" id="email">
                    </div>

                    <div class="input-box fade-in delay-3">
                        <span>Nome Completo</span>
                        <input type="text" name="nome" placeholder="Tribuzana da Silva" id="nome">
                    </div>

                    <div class="input-box fade-in delay-3">
                        <span>Area de especialidade</span>
                        <input type="text" name="especialidade" placeholder="Tribuzana da Silva" id="especialidade">
                    </div>

                    <div class="input-box fade-in delay-5">
                        <span>Telefone com DDD</span>
                        <input type="text" name="telefone" placeholder="(87) 9 9999-9999" id="telefone">
                    </div>
                    <div class="input-box fade-in delay-4">
                        <span>CIDADE</span>
                        <input type="text" name="cidade" placeholder="Petrolina" id="cidade">
                    </div>
                    <div class="input-box fade-in delay-4">
                        <span>NOME DA RUA</span>
                        <input type="text" name="endereco" placeholder="Rua Raimundo de Sá, nº 296" id="endereco">
                    </div>
                    <div class="input-box fade-in delay-4">
                        <span>ESTADO</span>
                        <input type="text" name="estado" placeholder="Pernambuco" id="estado">
                    </div>

                    <div class="input-box fade-in delay-8">
                        <span>CREFITO (só numeros e o digito final)</span>
                        <input type="text" name="crefito" placeholder="8 100257-F" id="crefito">
                    </div>

                    <div class="input-box fade-in delay-9">
                        <span>Senha</span>
                        <input type="password" name="senha" placeholder="Senha" id="senha">
                    </div>

                    <div class="input-box fade-in delay-10">
                        <input type="submit" value="Enviar" class="btn">
                    </div>

                </form>
                <h3 class="ul fade-in delay-11">Logar Com</h3>
                <ul class="ul fade-in delay-11">
                    <li><img src="static/images/747.png"></li>
                    <li><img src="static/images/Google.png"></li>
                    <li><img src="static/images/Facebook.png"></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>