<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Cadastro Do Profissional</title>
</head>

<body>
    <div class="container-login">
        <div class="img-box fade-in delay-1">
            <img src="static/images/FisioConecta1.png" alt="">
            <h1>Facilitando o acesso à fisioterapia infantil especializada.</h1>
        </div>
        <div class="content-box fade-in delay-2">
            <div class="form-box fade-in delay-2">
                <img class="image-logo2 fade-in delay-2" src="static/images/FisioConecta1.png" alt="">
                <h2>CADASTRO</h2>

                <form id="LoginForm" class="formLogin">
                    <div class="input-box">
                        <span>Foto</span>
                        <input type="" id="email" name="email" placeholder="@mail.com" required>
                    </div>

                    <div class="input-box">
                        <span>Nome Completo</span>
                        <input type="text" id="nome" name="nome" placeholder="ex: Arthur Pereira da Silva" required>
                    </div>

                    <div class="input-box">
                        <span>Email</span>
                        <input type="email" id="email" name="email" placeholder="@mail.com" required>
                    </div>

                    <div class="input-box">
                        <span>Telefone</span>
                        <input type="text" id="telefone" name="telefone" placeholder="(11) 99999-9999" required>
                    </div>

                    <div class="input-box">
                        <span>Cidade</span>
                        <input type="text" id="cidade" name="cidade" placeholder="São Paulo" required>
                    </div>

                    <div class="input-box">
                        <span>Endereço</span>
                        <input type="text" id="endereco" name="endereco" placeholder="Rua Exemplo, 123" required>
                    </div>

                    <div class="input-box">
                        <span>Estado</span>
                        <input type="text" id="estado" name="estado" placeholder="SP" required>
                    </div>

                    <div class="input-box">
                        <span>Senha</span>
                        <input type="password" id="senha" name="senha" placeholder="password" required>
                    </div>

                    <div class="input-box">
                        <input type="submit" value="Cadastrar">
                    </div>

                    <!-- mensagem de resposta -->
                    <p id="resposta" style="margin-top:10px; color:red;"></p>
                </form>


                <h3 class="ul fade-in delay-11">Logar Com</h3>
                <ul class="ul fade-in delay-11">
                    <li><img src="static/images/747.png"></li>
                    <li><img src="static/images/Google.png"></li>
                    <li><img src="static/images/Facebook.png"></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/static/js/fisio_script.js"></script>
    
</body>
</html>