<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS -->
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Tela De Login Responsiva</title>
</head>

<body>
    <div class="container-login">
        <div class="img-box">
            <img src="/static/images/FisioConecta1.png" alt="">
            <h1>Facilitando o acesso à fisioterapia infantil especializada.</h1>
        </div>
        <div class="content-box">
            <div class="form-box">
                <img class="image-logo" src="/static/images/FisioConecta1.png" alt="">
                <h2>Login</h2>
                <!-- Envia para a rota POST /form/login -->
                <form action="/form/login" method="POST" class="formLogin">
                    <div class="input-box">
                        <span>Email</span>
                        <input type="email" name="email" placeholder="@mail.com" required>
                    </div>

                    <div class="input-box">
                        <span>Senha</span>
                        <input type="password" name="senha" placeholder="password" required>
                    </div>

                    <div class="remember">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                        <a href="#">Esqueceu a Senha?</a>
                    </div>

                    <div class="input-box">
                        <input type="submit" value="Entrar">
                    </div>

                    <div class="input-box">
                       <p>Não Tem Uma Conta? <a href="/form/cadastro_usuario">Registre-se</a></p>
                       <p>Quer ser um profissional cadastrado? <a href="/form/cadastro_fisio">Clique aqui!</a></p>
                    </div>
                </form>
                <h3>Logar Com</h3>
                <ul class="ul">
                    <li><img src="/static/images/747.png"></li>
                    <li><img src="/static/images/Google.png"></li>
                    <li><img src="/static/images/Facebook.png"></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>